
body{
  margin:0;
  padding:0;
  font-family:Arial;
}
@import "navigation-style";
@import "banner-style";
@import "product-gallery-style";
@import "type-product";
@import "delivery-time-style";
@import "ready-obj-style";
@import "video-house";
@import "color-house-style";
@import "footer-style";
