#types-product {
  .row {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;

    p {
      font-size: 20pt;
      color: #CFE19E;
      margin-bottom: 4%;
    }

    .product-hover {
      padding-bottom: 60px;

      &:hover {
        box-shadow: 3px 6px 5px 5px rgba(0,0,0,0.3);
        border-radius: 20px;
        cursor:pointer;
      }
    }

    .card-product {
      height: auto;
      padding: 20px 0 50px 0;

      .product-img {
        padding: 20px;
        border-bottom: 1px solid #CFE19E;
        width: 100%;

        img {
          width: 100%;
        }

        div {
          position: relative;
          width: 100px;
          height: 70px;
          background: red;
          border-radius: 10% / 12%;
          color: white;
          text-align: center;
          text-indent: .1em;
          float: right;
          top: -43px;
          text-align: center;

          p {
            position: absolute;
            padding: 20px 20px 10px 16px;
            color: #fff;
          }

          &:before {
            content: '';
            position: absolute;
            top: 1%;
            bottom: 0%;
            right: -10%;
            left: -10%;
            background: inherit;
            border-radius: 20%/50%;
          }
        }
      }

      .product-description {
        color:#91987F;
        padding-top: 12px;
        line-height:1.2;
        padding-right: 20px;
        position: absolute;
      }
    }
  }
  .box-z{
    z-index:100;
  }
}

@media screen and (max-width:1200px) {
}

@media screen and (max-width:768px) {
  #types-product {
    .row {
      p{
            margin-bottom: 4%;
    margin-top: 4%;
      }
      .card-product {
        padding: 0px 20px 60px 20px;
        float: inherit;

        .product-img {
          img {
            width: 90%;
          }
        }
      }
    }
  }
}
