.navbar-kids {
  height: 148px;
  width: 100%;
  background: #9CBB4A;
  z-index: 1000;
  position: fixed;
  color: #fff; }

.container-kids {
  min-height: 163px;
  z-index: 11;
  background-color: #9CBB4A;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.container-kids-branding {
  padding-top: 10px; }

.phone-icon {
  font-size: 26px;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 10px;
  float: left; }

.phone-number {
  padding-top: 32px;
  line-height: 12px;
  font-size: 15pt;
  float: right; }

.number {
  float: right;
  padding: 6px 0 6px 8px;
  font-size: 16pt; }

.navbar {
  margin-bottom: unset; }

.collapse-menu {
  text-align: center;
  color: #fff;
  font-size: 20pt; }
  .collapse-menu button {
    background-color: transparent;
    border: none; }

.menu {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  width: 100%;
  padding: 12px 10px 10px 10px; }

.element-menu {
  background: #89A739;
  padding: 4px 6px 4px 6px;
  border-radius: 18px;
  font-size: 15pt; }
  .element-menu a {
    color: #fff;
    text-decoration: none; }
  .element-menu:hover {
    background-color: #FE5F53; }

.hide-elem {
  display: none; }

@media screen and (max-width: 1200px) {
  .menu {
    padding: 18px 10px 10px 8px; }
  .element-menu {
    font-size: 12pt; } }

@media screen and (max-width: 992px) {
  .navbar-kids .container {
    width: 100%; }
  .element-menu {
    font-size: 10pt;
    padding: 4px 3px 4px 3px; }
  .menu {
    padding: 18px 10px 10px 8px; } }

@media screen and (max-width: 768px) {
  .navbar-kids {
    height: auto;
    text-align: center;
    height: auto;
    text-align: center; }
    .navbar-kids .brand-kids img {
      height: 50px; }
  .phone-number {
    float: left;
    padding-left: 30%; }
  .element-menu {
    font-size: 14pt; }
  .collapse-menu {
    display: inherit;
    padding-bottom: 3px; }
    .collapse-menu button:hover {
      border: 1px solid #fff;
      border-radius: 5px; }
  .menu {
    display: none;
    padding: 0; }
    .menu .collapse-menu {
      background-color: #89A739; }
  .element-menu {
    border-radius: inherit;
    text-align: left; } }

@media screen and (max-width: 468px) {
  .phone-number {
    float: left;
    padding-left: 20%;
    padding-top: 10px; } }

.bunner-section {
  z-index: -1;
  margin: 0;
  padding: 144px 0 0 0;
  background-image: url("../img/header-grass.png");
  background-size: cover;
  overflow: hidden;
  position: relative; }
  .bunner-section .slider-box {
    margin-top: -17px;
    width: 1250px;
    padding: 0; }
  .bunner-section .carousel-inner > .item > img,
  .bunner-section .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto; }

@media screen and (max-width: 1200px) {
  .bunner-section .slider-box {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .bunner-section {
    padding-top: 185px; } }

@media screen and (max-width: 468px) {
  .bunner-section {
    padding-top: 160px; } }

#gellary-product {
  z-index: 100; }
  #gellary-product .gellary-box {
    margin-top: -3%; }
  #gellary-product .product-container {
    padding: 0;
    margin: -38px 0 0 0;
    width: 100%;
    min-height: 500px;
    z-index: 19; }
  #gellary-product .product-box {
    background-image: url("../img/bg-product-gallery.png");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    color: #fff; }
    #gellary-product .product-box .bg-slider {
      background-image: url("../img/bg-product-gallery.png");
      background-position-x: center;
      background-position-y: bottom;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 650px; }
      #gellary-product .product-box .bg-slider .hide-elem {
        display: none; }
      #gellary-product .product-box .bg-slider .small-screen {
        font-size: 40px; }
        #gellary-product .product-box .bg-slider .small-screen .small-left {
          float: left;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 10px; }
          #gellary-product .product-box .bg-slider .small-screen .small-left:hover {
            border: 2px solid #fff;
            font-size: 42px; }
        #gellary-product .product-box .bg-slider .small-screen .small-rigth {
          float: right;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 10px; }
          #gellary-product .product-box .bg-slider .small-screen .small-rigth:hover {
            border: 2px solid #fff;
            font-size: 42px; }
      #gellary-product .product-box .bg-slider .left {
        text-align: right;
        padding-top: 150px;
        font-size: 40px; }
        #gellary-product .product-box .bg-slider .left span {
          border: 1px solid #fff;
          padding: 5px;
          border-radius: 10px; }
          #gellary-product .product-box .bg-slider .left span:hover {
            border: 2px solid #fff;
            font-size: 42px; }
      #gellary-product .product-box .bg-slider .rigth {
        text-align: left;
        padding-top: 150px;
        font-size: 40px; }
        #gellary-product .product-box .bg-slider .rigth span {
          border: 1px solid #fff;
          padding: 5px;
          border-radius: 10px; }
          #gellary-product .product-box .bg-slider .rigth span:hover {
            border: 2px solid #fff;
            font-size: 42px; }
    #gellary-product .product-box p {
      font-size: 20pt;
      line-height: 1.2;
      padding: 7% 0 4% 0; }
    #gellary-product .product-box .slider-box {
      overflow: hidden; }
    #gellary-product .product-box .slider {
      position: relative;
      width: 10000px;
      height: 210px; }
    #gellary-product .product-box .slider .content-box-product {
      background-color: #fff;
      border-radius: 20px;
      float: left;
      z-index: 0;
      width: 300px;
      margin: 20px; }
      #gellary-product .product-box .slider .content-box-product .img-box-product {
        border-bottom: 1px solid #cfe19e; }
        #gellary-product .product-box .slider .content-box-product .img-box-product .price {
          float: right;
          margin-top: -30px;
          margin-right: 10px;
          background-color: red;
          height: 40px;
          width: 60px;
          -moz-border-radius: 50% / 100%;
          -webkit-border-radius: 50% / 100%;
          border-radius: 50% / 100%;
          padding-top: 3%; }
      #gellary-product .product-box .slider .content-box-product .description {
        color: #91987f;
        padding: 10px; }
      #gellary-product .product-box .slider .content-box-product img {
        width: 90%; }

@media screen and (max-width: 1600px) {
  #gellary-product .product-box .bg-slider {
    height: 550px; } }

@media screen and (max-width: 1200px) {
  #gellary-product .product-box .bg-slider {
    height: 450px; } }

@media screen and (max-width: 768px) {
  #gellary-product .product-box .bg-slider {
    height: 500px; }
    #gellary-product .product-box .bg-slider .small-screen {
      padding-top: 15px;
      font-size: 15px; }
      #gellary-product .product-box .bg-slider .small-screen .small-rigth:hover {
        font-size: 18px; }
      #gellary-product .product-box .bg-slider .small-screen .small-left:hover {
        font-size: 18px; }
    #gellary-product .product-box .bg-slider .hide-elem {
      display: block; }
  #gellary-product .product-container p {
    padding: 12% 0 8% 0; }
  .product-box .bg-slider .left {
    display: none; }
  .product-box .bg-slider .rigth {
    display: none; } }

#types-product .row {
  margin: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px; }
  #types-product .row p {
    font-size: 20pt;
    color: #CFE19E;
    margin-bottom: 4%; }
  #types-product .row .product-hover {
    padding-bottom: 60px; }
    #types-product .row .product-hover:hover {
      box-shadow: 3px 6px 5px 5px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      cursor: pointer; }
  #types-product .row .card-product {
    height: auto;
    padding: 20px 0 50px 0; }
    #types-product .row .card-product .product-img {
      padding: 20px;
      border-bottom: 1px solid #CFE19E;
      width: 100%; }
      #types-product .row .card-product .product-img img {
        width: 100%; }
      #types-product .row .card-product .product-img div {
        position: relative;
        width: 100px;
        height: 70px;
        background: red;
        border-radius: 10% / 12%;
        color: white;
        text-align: center;
        text-indent: .1em;
        float: right;
        top: -43px;
        text-align: center; }
        #types-product .row .card-product .product-img div p {
          position: absolute;
          padding: 20px 20px 10px 16px;
          color: #fff; }
        #types-product .row .card-product .product-img div:before {
          content: '';
          position: absolute;
          top: 1%;
          bottom: 0%;
          right: -10%;
          left: -10%;
          background: inherit;
          border-radius: 20%/50%; }
    #types-product .row .card-product .product-description {
      color: #91987F;
      padding-top: 12px;
      line-height: 1.2;
      padding-right: 20px;
      position: absolute; }

#types-product .box-z {
  z-index: 100; }

@media screen and (max-width: 768px) {
  #types-product .row p {
    margin-bottom: 4%;
    margin-top: 4%; }
  #types-product .row .card-product {
    padding: 0px 20px 60px 20px;
    float: inherit; }
    #types-product .row .card-product .product-img img {
      width: 90%; } }

#delivery-time {
  margin-top: 30px;
  text-align: center;
  color: #91987F;
  margin-bottom: 30px;
  line-height: 1.2; }
  #delivery-time .icon-delivery-time {
    padding: 30px; }
    #delivery-time .icon-delivery-time img {
      width: 80%; }
      #delivery-time .icon-delivery-time img:hover {
        width: 85%; }
  #delivery-time h3 {
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20pt; }
  #delivery-time .description {
    font-size: 14pt;
    padding-left: 10%;
    padding-right: 10%; }

@media screen and (max-width: 768px) {
  #delivery-time .icon-delivery-time img {
    width: 50%; }
    #delivery-time .icon-delivery-time img:hover {
      width: 60%; } }

#ready-obj {
  padding: 0 18px 0 18px;
  text-align: center;
  color: #fff; }
  #ready-obj h3 {
    font-size: 20pt;
    color: #CFE19E;
    padding: 5% 30px 30px 1%; }
  #ready-obj .img-box {
    padding: 0;
    margin: 0;
    border: 2px solid #fff;
    cursor: pointer; }
    #ready-obj .img-box img {
      width: 100%;
      -webkit-filter: brightness(95%); }
      #ready-obj .img-box img:hover {
        -webkit-filter: brightness(110%); }
  #ready-obj .button-box button {
    position: absolute;
    margin-top: -30px;
    margin-left: -35%;
    min-height: 50px;
    min-width: 270px;
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 15pt;
    background: #8BAB3C;
    background: -webkit-linear-gradient(#D0E55E, #8BAB3C);
    background: -o-linear-gradient(#D0E55E, #8BAB3C);
    background: -moz-linear-gradient(#D0E55E, #8BAB3C);
    background: linear-gradient(#D0E55E, #8BAB3C); }
    #ready-obj .button-box button span {
      padding-right: 10px; }
    #ready-obj .button-box button:hover {
      background: #d7e491;
      background: -webkit-linear-gradient(#d7e491, #5a7713);
      background: -o-linear-gradient(#d7e491, #5a7713);
      background: -moz-linear-gradient(#d7e491, #5a7713);
      background: linear-gradient(#d7e491, #5a7713); }
  #ready-obj .hide-elem {
    display: none; }
  #ready-obj .modal-dialog {
    width: 50%; }
  #ready-obj .big-img {
    width: 100%; }

@media screen and (max-width: 1200px) {
  #ready-obj .button-box button {
    margin-top: -25px;
    margin-left: -45%; } }

@media screen and (max-width: 992px) {
  .button-box button {
    margin-top: -25px;
    margin-left: -55%; } }

@media screen and (max-width: 768px) {
  #ready-obj .button-box button {
    position: relative;
    margin: 0 auto;
    margin-top: -30px; }
  #ready-obj .modal-dialog {
    width: 100%; } }

#video-house {
  background-image: url("../img/bg-video.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 110px; }
  #video-house .container {
    padding-top: 50px; }
    #video-house .container iframe {
      width: 100%;
      height: 500px;
      border: 2px solid #fff;
      border-radius: 10px; }

@media screen and (max-width: 768px) {
  #video-house {
    margin-top: -30px; }
    #video-house .container {
      padding-top: 60px;
      padding-bottom: 20px; }
      #video-house .container iframe {
        width: 100%;
        height: 300px;
        border: 2px solid #fff;
        border-radius: 10px; } }

#house-color {
  text-align: center; }
  #house-color h3 {
    padding: 4% 0 2% 0;
    color: #CFE19E; }
  #house-color img {
    width: 90%; }
  #house-color .color-box {
    padding-top: 5%; }
  #house-color .color-panel {
    float: left; }
    #house-color .color-panel .panel {
      padding: 20px;
      background-color: #CFE19E;
      width: 100px;
      border-radius: 20px; }
      #house-color .color-panel .panel .color {
        width: 60px;
        height: 60px;
        padding-top: 7px;
        border-radius: 12px; }
        #house-color .color-panel .panel .color .shape {
          padding: 15px;
          width: 45px;
          height: 45px;
          margin: 0 auto;
          border-radius: 10px;
          cursor: pointer; }
        #house-color .color-panel .panel .color .blue {
          background-color: #83C1CF; }
        #house-color .color-panel .panel .color .brown {
          background-color: #B58E5C; }
        #house-color .color-panel .panel .color .white {
          background-color: #fff; }
        #house-color .color-panel .panel .color .red {
          background-color: #F94B2E; }
        #house-color .color-panel .panel .color .pink {
          background-color: #FD93B3; }
      #house-color .color-panel .panel .active {
        background-color: #9CBB4A; }

@media screen and (max-width: 1200px) {
  #house-color img {
    width: 100%; } }

@media screen and (max-width: 1200px) and (max-width: 992px) {
  #house-color .color-box {
    padding-top: 0; } }

@media screen and (max-width: 768px) {
  #house-color .color-panel {
    float: unset; }
    #house-color .color-panel .panel {
      width: 342px;
      height: 100px;
      margin: 0 auto; }
      #house-color .color-panel .panel .color {
        float: left; } }

@media screen and (max-width: 360px) {
  #house-color .color-panel .panel {
    width: 190px;
    height: 140px;
    padding: 10px 0 10px 0; } }

footer {
  margin-top: 3%;
  color: #fff; }
  footer .bg-box {
    background-image: url("../img/bg-footer.png");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat; }
    footer .bg-box .content-box {
      padding-top: 3%; }
      footer .bg-box .content-box .content {
        font-size: 15pt;
        line-height: 1.2; }
      footer .bg-box .content-box .logo-footer {
        text-align: center; }
      footer .bg-box .content-box .contact-footer {
        padding-top: 10%; }
        footer .bg-box .content-box .contact-footer .footer-number {
          height: 30px;
          margin: 15px; }
          footer .bg-box .content-box .contact-footer .footer-number span {
            float: left; }
          footer .bg-box .content-box .contact-footer .footer-number div {
            font-size: 15pt;
            padding-left: 40px;
            padding-top: 5px; }
        footer .bg-box .content-box .contact-footer .footer-email {
          height: 30px;
          margin: 15px; }
          footer .bg-box .content-box .contact-footer .footer-email span {
            float: left; }
            footer .bg-box .content-box .contact-footer .footer-email span img {
              padding-top: 10px; }
          footer .bg-box .content-box .contact-footer .footer-email div {
            font-size: 15pt;
            padding-left: 40px;
            padding-top: 5px; }
      footer .bg-box .content-box .bg-form {
        background-image: url("../img/bg-gor-form.png");
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: -20%; }
      footer .bg-box .content-box form {
        padding: 5%; }
        footer .bg-box .content-box form .form-field {
          width: 100%;
          box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
          border: 1px solid #adbc84;
          margin-bottom: 10px;
          padding: 5px;
          color: #5F5F5F; }
          footer .bg-box .content-box form .form-field ::-webkit-input-placeholder {
            color: #5F5F5F; }
          footer .bg-box .content-box form .form-field ::-moz-placeholder {
            color: #5F5F5F; }
          footer .bg-box .content-box form .form-field :-moz-placeholder {
            color: #5F5F5F; }
          footer .bg-box .content-box form .form-field :-ms-input-placeholder {
            color: #5F5F5F; }
        footer .bg-box .content-box form .field {
          padding-top: 15%; }
          footer .bg-box .content-box form .field input {
            height: 45px; }
          footer .bg-box .content-box form .field textarea {
            height: 300px;
            resize: none; }
          footer .bg-box .content-box form .field .error-box {
            display: block;
            color: red;
            text-align: center; }
          footer .bg-box .content-box form .field .invalid {
            border-color: red; }
          footer .bg-box .content-box form .field .valid {
            border-color: red; }
          footer .bg-box .content-box form .field .hide-elem {
            display: none; }
      footer .bg-box .content-box .footer-button-send {
        text-align: center; }
        footer .bg-box .content-box .footer-button-send button {
          background: #8BAB3C;
          background: -webkit-linear-gradient(#D0E55E, #8BAB3C);
          background: -o-linear-gradient(#D0E55E, #8BAB3C);
          background: -moz-linear-gradient(#D0E55E, #8BAB3C);
          background: linear-gradient(#D0E55E, #8BAB3C);
          border: 2px solid #fff;
          border-radius: 12px;
          font-size: 15pt;
          height: 45px;
          width: 195px; }
          footer .bg-box .content-box .footer-button-send button:hover {
            background: #d7e491;
            background: -webkit-linear-gradient(#d7e491, #5a7713);
            background: -o-linear-gradient(#d7e491, #5a7713);
            background: -moz-linear-gradient(#d7e491, #5a7713);
            background: linear-gradient(#d7e491, #5a7713); }
  footer .copyRigth {
    padding: 30px 0 30px 0;
    text-align: left;
    font-size: 13pt; }

@media screen and (max-width: 1500px) {
  footer .bg-box .content-box .bg-form {
    margin-top: -17%; } }

@media screen and (max-width: 1200px) {
  footer .bg-box .content-box .bg-form {
    margin-top: -18%; } }

@media screen and (max-width: 992px) {
  footer .bg-box .content-box .bg-form {
    margin-top: -24%; } }

@media screen and (max-width: 992px) {
  footer .bg-box .content-box .bg-form {
    background-image: none;
    padding: 10px 10px 0 10px;
    margin: 0;
    background-color: #cfe19e; }
    footer .bg-box .content-box .bg-form .field {
      padding: 0; }
  footer .bg-box .content-box .footer-button-send {
    padding-top: 15px; } }

body {
  margin: 0;
  padding: 0;
  font-family: Arial; }

